<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>Auth App</title>
  </head>
  <body>
    <nav class="nav-wrapper teal darken-4">
      <div class="container">
        <a href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="/">Homepage</a>
          </li>
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/signup">SignUp</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h3 class="center">Log In Options</h3>
      <div class="col s12 m6 offset-m3 center-align">
        <a
          class="oauth-container btn darken-4 white black-text"
          href="/auth/google"
          style="text-transform:none"
        >
          <div class="left">
            <img
              width="20px"
              style="margin-top:7px; margin-right:8px"
              alt="Google sign-in"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"
            />
          </div>
          Login with Google
        </a>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
    </div>
  </body>
</html>
