body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("../img/theme/bg.jpg");
    
    filter: blur(8px);
    -webkit-filter: blur(8px);
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }